body {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  text-align: left;
  margin: 0;
  color: #191919;
  letter-spacing: 0.005em;
  overflow: hidden;
}
p {
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  letter-spacing: 0.005em;
}
.container {
  margin: 20px;
}
button {
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  padding: 8px 15px;
  box-shadow: inset 0 0 0 1px black;
  outline: none;
  width: 100%;
  cursor: pointer;
}
#create {
  box-shadow: none;
  background: #18A0FB;
  color: white;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  border: none;
  outline: none;
  padding: 8px;
}
input:hover { box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); }
button:focus { box-shadow: inset 0 0 0 2px #18A0FB; }
#create:focus { box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3); }
input:focus { box-shadow: inset 0 0 0 2px #18A0FB; }


.switch-container {
  position: relative;
  width: 24px;
  height: 12px;
  margin: 10px 0;
}

.switch-outer-container {
  width: 38px;
}

.switch-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}

.switch-checkbox:checked + .switch-slider {
  background-color: #000000;
}

.switch-checkbox:focus + .switch-slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

.switch-checkbox:checked + .switch-slider:before {
  -webkit-transform: translateX(12px);
  transform: translateX(12px);
}

.switch-slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transition: background-color 0 .2s;
  transition: background-color 0 .2s;
  border: 1px solid #000000;
  border-radius: 12px;
  background-color: #ffffff;
}

.switch-slider::before {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 10px;
  height: 10px;
  content: '';
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transition: background-color 0 .2s;
  transition: background-color 0 .2s;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: white;
}

.options-row {
  display: flex;
  justify-content: space-between;
}
.options-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  justify-content: space-between;
}
.options-row-inner-container {
  display: flex;
  align-items: center;
}
.options-row-container p {
  margin: 0;
}
.options-row-container svg {
  margin-right: 10px;
  opacity: 0.4;
  width: 15px;
}
.container input {
  width: 45px;
}

.banner img {
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.help-text {
  text-align: left;
  padding: 10px 20px;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  margin: 0;
  background: #f7f7f7;
  border-bottom: 1px solid #ececec;
}

.error {
  position: absolute;
  width: 82%;
  text-align: center;
  color: #F24822;
  margin: 0;
  margin-bottom: 5px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.loading {
  display: inline-block;
  width: 15px;
  height: 15px;
}
.loading:after {
  content: " ";
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: circle-loader 1.2s linear infinite;
}
@keyframes circle-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
